.card {
  position: relative;
}

.card img {
  width: 100%;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
}

.card .front {
  transition-delay: 0.2s;
  transition: all ease-in 0.2s;
}

.flipped .front {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.card .back {
  position: absolute;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
}

.flipped .back {
  transition-delay: 0.2s;
  transform: rotateY(0deg);
}
